* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	font-family: avenir, helvetica, sans-serif;
	color: rgb(255,255,255);
	background: rgb(85,145,185);
	margin: 20px;
}

button {
	width: 120px;
	height: 60px;
	margin: 10px 0 2px 0;
	border-radius: 6px;
	border-bottom: 4px solid rgb(56,195,196);
	background: rgb(255,255,255);
	font-size: 1.1em;
	cursor: pointer;
}

#light-container {
	position: absolute;
	width: 80px;
	height: 220px;
	background: rgb(255,255,255);
	border: 1px solid rgb(204,204,204);
	border-radius: 4px;
}

#street {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 270px;
	background: rgb(97,97,97);
}

#button-container {
	float: left;
	position: relative;
	margin-left: 120px;
	width: 80px;
	height: 220px;
}

.light {
	width: 60px;
	height: 60px;
	background: rgba(0,0,0,1);
	border-radius: 30px;
	border: 2px solid #ccc;
	margin: 10px;
	padding: 0;
	transition: background-color 1s ease 0s;
}

#car {
	z-index: 1;
	display: inline-block;
	position: absolute;
	top: 360px;
	margin-left: 10px;	
	width: 100px;
	height: 70px;
	background-color: rgb(188,94,72);
	border-radius: 0 60px 0 0;
	animation-name: carMove;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-play-state: paused;
	-webkit-animation-name: carMove;
	-webkit-animation-duration: 3s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: paused;
	/* Skew from hover.css */
	transition-duration: 0.2s;
	transition-property: transform;
	transform-origin: 0 100%;
	transform: translateZ(0);
	transform: skew(0deg);
	-webkit-transition-duration: 0.2s;
 	-webkit-transition-property: transform;
  	-webkit-transform-origin: 0 100%;
  	-webkit-transform: translateZ(0);
  	-webkit-transform: skew(0deg);
}

@keyframes carMove {
	0% {left: 0px; right: 100px;}
	25% {left: 100px; right: 200px;}
	50% {left: 200px; right: 300px;}
	75% {left: 300px; right: 400px;}
	100% {left: 400px; right: 600px;}
}

@-webkit-keyframes carMove {
	0% {left: 0px; right: 100px;}
	25% {left: 100px; right: 200px;}
	50% {left: 200px; right: 300px;}
	75% {left: 300px; right: 400px;}
	100% {left: 400px; right: 600px;}
}

.wheel {
	width: 20px;
	height: 20px;
	border-radius: 20px;
	display: inline-block;
	background: rgb(251,244,47);
	border: 2px solid rgb(255,255,255);
	margin-top: 60px;
}

#wheel-front {
	float: right;
}